

h1{
    font-weight: 700;
}

h2{
    font-weight: 500;
}


.half-width{
    width: 60%;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    
}
.half-width img{
    width: 110%;
    padding-right: 10%;
    padding-top: 3%;
}
.banner{
    background-image: url(images/top-banner.png);
}

.banner2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
body{
    font-family: 'Lato', sans-serif;
font-family: 'REM', sans-serif;
margin: 0;
 
}
.flex-contain{
    display: flex;
}
.button{ 
    
    background-color: orangered;
    text-decoration: none;
    
    padding: 10px 40px;
    border-radius: 5px;
    
}

.experience-item{
    width: 40%;
    box-shadow: 10px 10px 30px darkgrey;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px ;
    margin-right: 10%;    
}
.experience-item2{
   
    width: 40%;
    box-shadow: 10px 10px 30px darkgrey;
    padding-left: 5px;
    padding-right: 5%;
    margin-left: 5px ;
    margin-right: 5px;

}
.full-experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    padding-left: 5%;
    padding-right: 5%;
}
#beg-dev{
    border-left: 7px solid ;
    border-image: linear-gradient(purple,cyan);
    border-image-slice: 1;
}
.button2{
    text-decoration: none;
    background-color: slategray ; 
    padding: 10px 40px;
    border-radius: 5px;
}
#pro-dev{
    border-left: 7px solid ;
    border-image: linear-gradient(orange salmon );
    border-image-slice: 1;
}
 